html{
    background-color: #D6D6D6;
}

/*Flex-box*/
.flex
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}

button
{
    border: none;
    box-shadow: 0px 0px 1px 1px #DF1B3F;
}

/*Кнопки (основное описание)*/
.flex .button{
    flex: 1 1 auto;

    color: #16907e;
    background-color: #DF1B3F;

    height: 50px;
    margin-left: 10px;
    margin-right: 5px;

    border-radius: 15px;

    font-family: "Comic Sans MS", "Comic Sans", sans-serif;
    font-size: large;
}

/*Эффект выделения при наведения кнопки*/
.flex .button:hover{
    background-color: #992a3e;
}

/*Иконка*/
.flex #icon{
    height: 50px;
    width: 50px;
    align-content: center;
}

/*Масштабирование (адаптивная верстка)*/
@media screen and (max-width: 600px) {
    .flex{
        flex-direction: column;
    }
    .flex #icon{
        visibility: hidden;
    }
}